h1 {
    color: #a45b36;
}

svg .state {
    stroke-width: 2;
    stroke: #fff;

    -webkit-transition: stroke 0.5s, stroke-width 0.5s;
    -o-transition: stroke 0.5s, stroke-width 0.5s;
    transition: stroke 0.5s, stroke-width 0.5s;
}

svg .state:hover , .state.active {
    cursor: pointer;
    stroke-width: 4;
    stroke: #000;
}

svg .shelf {
    stroke-width: 2;
    stroke: #fff;
    stroke: #fff;

    -webkit-transition: stroke 0.5s, stroke-width 0.5s;
    -o-transition: stroke 0.5s, stroke-width 0.5s;
    transition: stroke 0.5s, stroke-width 0.5s;

    -webkit-transition: fill 0.5s;
    -o-transition: fill 0.5s;
    transition: fill 0.5s;

}
svg .shelf:hover , .shelf.active {
    cursor: pointer;
    stroke-width: 4;
    stroke: #000;
    fill: #0000ff;

}

.regionlist {
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
}
.regionlist > div {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid grey;
}

.regionlist > div.active {
    font-weight: bold;
    background-color: lightblue;
}

.regionlist > div > div {
    display: inline-block;
    width: 48%;
}

.scale {
    position: relative;
}
.scale div {
    width: 9.07%;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 5px 0;
}

input[type=button]{
    background-color: #a45b36;
    border: none;
    color: white;
    padding: 12px 25px;
    margin: 0px 0px 0px 5px;
    text-decoration: none;
    cursor: pointer;
}

input[type=text] {
    -webkit-appearance: none;
    min-width: 120px;
    height: 45px;
    font-size: 18px;
    margin: 0px 0px 10px 0px;
    padding: 2px 5px 2px 2px;
}

#logo {
    width: 100%;
    height: 130px;
    background-color: #333333;
    padding: 15px;
}

#logo img{
    margin: 5px 20px 0px 0px;
    float: right;
}

/*Menu styles*/
nav {
  padding: 35px 0px 0px 0px;
  text-align: center;
  font-family: Helvetica;
  float: left;
}
            
#nav-1 {
    background: #333333;
 }

.link-1 {
  transition: 0.3s ease;
  background: #333333;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #a46b36;
  border-bottom: 4px solid #a46b36;
  padding: 20px 0;
  margin: 0 20px;
}
.link-1:hover {
  border-top: 4px solid #e9ddaf;
  border-bottom: 4px solid #e9ddaf;
  padding: 6px 0; 
  text-decoration: none;
  color: #ffffff;
}

/* Operations.html styles*/
#column1{
    width: 50%;
    text-align: center;
    margin-top: 30px; 
    float: left;
}

#column2 {
    width: 50%;
    text-align: center;
    margin-top: 40px; 
    float: left;
}

#put_entry {
    text-align: center;
    margin: 30px 0px 0px 50px;
}

#get_value { 
    text-align: center;   
    margin: 30px 0px 0px 50px;
}

legend {
    padding: 5px;
    border: 1px solid #a45b36;
    color:green;
    font-size: 100%;
    background: #a45b36;
    color: #fff;
    max-width: 200px;
}

fieldset {
    text-align: left;
    width: 450px;
    margin: 5px;
    padding:  0px 20px 20px 20px;
    font-size: 16px;
    border: 2px solid #a45b36;
    border-radius: 5px;
}

#label {
    border: 1px solid #a45b36;
    width: 450px;
    min-height: 45px;
    font-size: 16px;
    padding: 10px;
    margin: 5px 0px 20px 5px;
    text-align: left;
}

/* Index.html styles*/
#message_list {
    float: right;
    width: 50%;
    padding-right: 50px;
}

#time_sliders {
    width: 250px;
    margin: 20px;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 200px;
    height:20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #a45b36;
    opacity: 0.5;
    width: 10px;
    height: 26px;
}


.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-yes-no + label {
  padding: 2px;
  width: 140px;
  height: 60px;
}
input.cmn-toggle-yes-no + label:before, input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}
input.cmn-toggle-yes-no + label:before {
  background-color: #a45b36;
  content: attr(data-off);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after {
  background-color: #a45b36;
  content: attr(data-on);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}

pre{
    white-space: pre-wrap;
}

svg[id=messageFlow] {
    margin-left: 40px;
}

#timeLine {
    margin-left: 5px;
    float: left;    
}

.axis {
    font-size: 10px;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
}

svg[id=chordDiagram] {
    width: 40%;
    height: 85%;
    margin-left: 55px;
}
.graph {
    width: 40%;
}

/*Growl notifications*/
.growl-notice {
  display:none;
  width: 300px;
  height: 65px;
  padding: 5px 10px;
  border-radius: 4px;
  opacity: .70;
  font-size: 14px;
  color: #fff;
  background: #BF0025;
  position: fixed;
  right: 10px;
  top: 145px;
  line-height:60px;
}
