svg .state {
    stroke-width: 2;
    stroke: #fff;

    -webkit-transition: stroke 0.5s, stroke-width 0.5s;
    -o-transition: stroke 0.5s, stroke-width 0.5s;
    transition: stroke 0.5s, stroke-width 0.5s;
}
svg .state:hover , .state.active {
    cursor: pointer;
    stroke-width: 4;
    stroke: #000;
}





svg .shelf {
    stroke-width: 2;
    stroke: #fff;
    stroke: #fff;

    -webkit-transition: stroke 0.5s, stroke-width 0.5s;
    -o-transition: stroke 0.5s, stroke-width 0.5s;
    transition: stroke 0.5s, stroke-width 0.5s;

    -webkit-transition: fill 0.5s;
    -o-transition: fill 0.5s;
    transition: fill 0.5s;

}
svg .shelf:hover , .shelf.active {
    cursor: pointer;
    stroke-width: 4;
    stroke: #000;
    fill: #0000ff;

}







.regionlist {
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
}
.regionlist > div {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid grey;
}

.regionlist > div.active {
    font-weight: bold;
    background-color: lightblue;
}

.regionlist > div > div {
    display: inline-block;
    width: 48%;
}

.scale {
    position: relative;
}
.scale div {
    width: 9.07%;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 5px 0;
}

/*CSS styles for time sliders*/
#time_sliders {
    width: 250px;
    margin: 20px;
}

input[type=text] {
    -webkit-appearance: none;
    width: 40px;
    height:20px;
    margin: 5px;
    text-align: right;
    padding: 2px;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 200px;
    height:20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: blue;
    opacity: 0.5;
    width: 10px;
    height: 26px;
}