<section class="sample-app-content">
   <!-- <img class="logo" src="/logo/logo.jpg" /> --> <!-- vyresit proc nefunguje -->
    <br><img class="logo" src="https://slack-files.com/files-tmb/T054XBNTH-F0DFCE0QP-c5acdca20d/logo_1024.jpg" />
    <img class="owl" src="<img class='owl' src='https://files.slack.com/files-tmb/T054XBNTH-F0MMMHVDM-1cb337d591/logo_circle_720.png' />" /> 
  <nav>
    <center><a [router-link]="['/Home']">Home</a>
    <a [router-link]="['/About']">About Us</a></center>
  </nav>

  <router-outlet></router-outlet>
</section>
