<html ng-app="InfiSpector">
    <head>
        <meta charset="utf-8">
        <title>InfiSpector</title>
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" href="css/toastr.min.css"/>
        <link rel="stylesheet" href="css/app.css"/>
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body>
        <div id="InfiSpectorCtrlDivId" ng-controller="InfiSpectorCtrl">

            <center>
                <br>
                <img src="../img/logo.jpg" width="300" height="100" alt="logo" >
                <br><br>
                <p>Infinispan messages history,</p>
                <p>is never more a mystery.</p>
                <p>Meet InfiSpector, say hello!</p>
                <p>He monitors that data flow.</p>
                <p>Send the entries, let it grow,</p>
                <p>InfiSpector makes the show!</p>

                <input type="button" ng-model="connectToDruidButton" ng-click="connectToDruid()"
                       value="Connect to druid">
                <input type="button" ng-model="getNodes" ng-click="getNodes()" value="Get Nodes">
                <div>{{queryResults}}</div>

                <br>
                <div stuff></div>

	   		 	<div id="time_sliders">
	                Start time: <input type="text" value="0" id="start_input" onchange="changeSlider(this.value)">
	                <input id="valR" type="range" min="0" max="100" value="0" step="1" oninput="showVal(this.value)" onchange="showVal(this.value)" />   		 			
	                <br>
	   		 		End time: <input type="text" value="0" id="end_input" onchange="changeSlider2(this.value)">
	   		 		<input id="valR2" type="range" min="0" max="100" value="0" step="1" oninput="showVal2(this.value)" onchange="showVal2(this.value)" />   		 			
	   		 	</div>
            </center>
        </div>

        <!-- build:remove:dev -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
        <script src="js/ngmodules.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="js/plugins.min.js"></script>
        <script src="js/app.min.js"></script>
        <!-- /build -->

        <!-- build:remove:dist -->
        <script src="js/angular.js"></script>
        <script src="js/ngmodules.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/components.js"></script>
        <script src="js/services.js"></script>

        <script src="js/controllers.js"></script>
        <script src="js/directives.js"></script>
        <!-- /build -->
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="js/chordDiagram.js"></script>
        <script src="js/messageFlowChart.js"></script>
        <script>messageFlowChart();</script>
    </body>
</html>