<html >
    <head>
        <meta charset="utf-8">
        <title>InfiSpector</title>
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" href="css/toastr.min.css"/>
        <link rel="stylesheet" href="css/app.css"/>
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <link rel="stylesheet" href="css/main.css"/>


        <style>
            .node {
                cursor: pointer;
            }
            .node:hover {
                stroke: #000;
                stroke-width: 1.5px;
            }
            .node--leaf {
                fill: white;
            }
            .label {
                font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-anchor: middle;
                text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
            }
            .label,
            .node--root,
            .node--leaf {
                pointer-events: none;
            }

            
        </style>
    </head>
    <body>
        <div ng-app="InfiSpector" ng-controller="OperationsCtrl">       
            <div id ="logo">
            	<center>
                	<img src="../img/logo.png" width="250">
                	<nav id="nav-1">
				  <a class="link-1" onclick="showGetValue()">Get value</a>
				  <a class="link-1" onclick="showPutEntry()">Put entry</a>
				</nav>
                </center>
            </div>
            <div id="column1" style="border-right: 2px solid; border-color: #333333;"> 
            		<div id="put_entry">             			
            		<center>              		         		
		                <fieldset>
		    				<legend>Put entry</legend>  
			               	Key:<input type="text" ng-model="keyToPut" style="margin: 7px 0px 0px 146px;">
			               	<br>
			               	Value: <input type="text" ng-model="valueToPut" style="margin: 7px 0px 0px 129px;">
			               	<br>
			               	Node HotRod port: <input type="text" ng-model="nodeToPut" style="margin: 7px 0px 0px 40px;">
			               	<br>
			               	Amount: <input type="text" ng-model="putNumber" style="margin: 7px 0px 0px 114px;">
			               	<br><br>
			               	<input type="button" ng-model="putEntryButton" ng-click="putEntry()" value="Put entry">
                                        <input type="button" ng-model="clearCacheButton" ng-click="clearCache()" value="Clear">
			            </fieldset>
			            <br>
			            <div id="label">
			    			Current number of entries after put:  {{currentNumberOfEntriesAfterPut}}
			    		</div>	                
			            <div id="label">
			                Cluster members:  {{clusterMembers}} {{clusterMembers.length}}	                 
			            </div> 
			        </center>			           
			        </div>
			        <div id="get_value"> 
			        <center>
			            <fieldset>
	    				<legend>Get value for a key</legend>          
		                Key:<input type="text" ng-model="keyToGet" style="margin: 7px 0px 0px 146px;">
		                <br><br>
		                <input type="button" ng-model="getEntryButton" ng-click="getEntry()" value="Get value for a key">
                                <input type="button" ng-model="clearCacheButton" ng-click="clearCache()" value="Clear">
			            </fieldset>
			            <br>	                               
			            <div id="label">
			              	Value: {{valueReturned}}                    
			            </div>
			        </center> 				                 
		        	</div>		        
		        </div>       
	        </div>	

	        <script type="text/javascript">
	    	var div1 = document.getElementById('get_value').innerHTML;

			var div2 = document.getElementById('put_entry').innerHTML;
			var column1 = document.getElementById('column1');

			column1.innerHTML = div2;

    		function showPutEntry() {
    			column1.innerHTML = div2;
    			 $compile(column1.contents())(scope);
			    
			};

			function showGetValue() {
				column1.innerHTML = div1;
				 $compile(column1.contents())(scope);
			    
			};
    		</script>
                   
           
	        <script src="//d3js.org/d3.v3.min.js"></script>
	        <script>
	            var margin = 20, diameter = 500;

	            drawChart();
	                                
	            function drawChart() {
	                var color = d3.scale.linear()
	                    .domain([-1, 5])
	                    .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
	                    .interpolate(d3.interpolateHcl);

	                var pack = d3.layout.pack()
	                    .padding(2)
	                    .size([diameter - margin, diameter - margin])
	                    .value(function (d) {
	            return d.size;
	            });

	            // dummy "reload"        
	            d3.select("svg").remove();
	            var svg = d3.select("p").append("svg")
	                .attr("width", diameter)
	                .attr("height", diameter)
	                .append("g")
	                .attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

	            d3.json("assets/flare.json", function (error, root) {

	            if (error)
	                throw error;

	            var focus = root,
	                nodes = pack.nodes(root),
	                view;

	            var circle = svg.selectAll("circle")
	                .data(nodes)
	                .enter().append("circle")
	                .attr("class", function (d) {
	            		return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root";
	            	})
	                                                
	                .style("fill", function (d) {
	                    return d.children ? color(d.depth) : null;
	                })
	                .on("click", function (d) {
	                	if (focus !== d)
	                        zoom(d), d3.event.stopPropagation();
	                });

	                var text = svg.selectAll("text")
	                .data(nodes)
	                .enter().append("text")
	                .attr("class", "label")
	                .style("fill-opacity", function (d) {
	                    return d.parent === root ? 1 : 0;
	                })
	                .style("display", function (d) {
	                    return d.parent === root ? "inline" : "none";
	                })
	                .text(function (d) {
	                    return d.name;
	                 });

	                var node = svg.selectAll("circle,text");

	                d3.select("zoomableDiv")
	                .style("zoomableDiv", color(-1))
	                .on("click", function () {
	                    zoom(root);
	                });

	                                        zoomTo([root.x, root.y, root.r * 2 + margin]);

	                                        function zoom(d) {
	                                            var focus0 = focus;
	                                            focus = d;

	                                            var transition = d3.transition()
	                                                    .duration(d3.event.altKey ? 7500 : 750)
	                                                    .tween("zoom", function (d) {
	                                                        var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
	                                                        return function (t) {
	                                                            zoomTo(i(t));
	                                                        };
	                                                    });

	                                            transition.selectAll("text")
	                                                    .filter(function (d) {
	                                                        return d.parent === focus || this.style.display === "inline";
	                                                    })
	                                                    .style("fill-opacity", function (d) {
	                                                        return d.parent === focus ? 1 : 0;
	                                                    })
	                                                    .each("start", function (d) {
	                                                        if (d.parent === focus)
	                                                            this.style.display = "inline";
	                                                    })
	                                                    .each("end", function (d) {
	                                                        if (d.parent !== focus)
	                                                            this.style.display = "none";
	                                                    });
	                                        }

	                                        function zoomTo(v) {
	                                            var k = diameter / v[2];
	                                            view = v;
	                                            node.attr("transform", function (d) {
	                                                return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")";
	                                            });
	                                            circle.attr("r", function (d) {
	                                                return d.r * k;
	                                            });
	                                        }
	            	});
	            };

	            d3.select(self.frameElement).style("height", diameter + "px");
	        </script>

	        <div id="column2">
	        	<p id="zoomableDiv"></p>
	        </div> 
	       </div>

        <!-- build:remove:dev -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
        <script src="js/ngmodules.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="js/plugins.min.js"></script>
        <script src="js/app.min.js"></script>
        <!-- /build -->

        <!-- build:remove:dist -->
        <script src="js/angular.js"></script>
        <script src="js/ngmodules.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/components.js"></script>
        <script src="js/services.js"></script>

        <script src="js/controllers.js"></script>
        <script src="js/directives.js"></script>
        <!-- /build -->
    </body>
</html>